---
import type { Props } from '../props';
import { Icon } from 'astro-icon'

const { id } = Astro.props;

const editUrl = 
    'https://github.com/val-town/val-town-blog/edit/main/src/content/blog/' + id;
---

{
	editUrl && (
		<a href={editUrl} class="sl-flex">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
      </svg>
      Edit this page
		</a>
	)
}

<style>
	a {
    margin-top: 80px;
    display: flex;
		gap: 0.5rem;
		align-items: center;
		text-decoration: none;
		color: var(--gray) !important;
	}
  a svg {
    width: 14px;
  }
	a:hover {
		color: var(--accent-dark) !important;
	}
</style>
