---
---

<div id='npm-chart'></div>
  <script type="module">
     import * as Plot from "https://cdn.jsdelivr.net/npm/@observablehq/plot@0.6/+esm";
    const lines = (await Promise.all(['express', 'fastify', 'hono'].map(p => 
      fetch(`/data/${p}.json`).then(r => r.json())
    ))).flatMap(ds => {
      console.log(ds);
      return ds.downloads.map(d => {
        return {
          ...d,
          day: new Date(d.day),
          pkg: ds.package
        }
      });
    });
    
    const elem = document.querySelector('#npm-chart');
    
    const plot = Plot.plot({
      style: "overflow: visible;",
      y: {grid: true},
      width: elem.offsetWidth,
      marginRight: 80,
      marginLeft: 80,
      marks: [
        Plot.ruleY([0]),
        Plot.lineY(lines, Plot.windowY(7, {
          x: "day",
          y: "downloads",
          stroke: "pkg"
        })),
        Plot.text(lines, Plot.selectLast(Plot.windowY(7, {
          x: "day",
          y: "downloads",
          stroke: 'pkg',
          fill: '#000',
          anchor: 'end',
          strokeOpacity: 0.1,
          text: 'pkg',
          textAnchor: "start",
          dx: 5
      })))
      ]
    });
    
    elem.appendChild(plot)
  </script>
